@font-face {
  font-family: HDI-GerlingSans;
  src: url("../fonts/TTF/HDI-GerlingSansCond-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: HDI-GerlingSans-normal;
  src: url("../fonts/TTF/HDI-GerlingSansCond-Regular.ttf");
}
@font-face {
  font-family: HDI-GerlingSans-light;
  src: url("../fonts/TTF/HDI-GerlingSansCond-Light.ttf");
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: HDI-GerlingSans-light;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.9;

  overflow-x: hidden;
}

.top-nav
{
  /* padding: 40px 15px; */
}
.nav
{
  flex: 0 0 100%;
    max-width: 100%;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.top-nav .fixed-top {
  padding: 24px 65px;
  z-index: 9999999;
  -webkit-transition: all 0.1s ease;
  transition: all 0.4s ease;
}
.bg-wh {
  background-color: #fff!important;
}
.navbar {
  
    position: relative;
    
    display: flex;
    
    flex-wrap: wrap;
    
    align-items: center;
    
    justify-content: space-between;
    padding: .5rem 1rem;
  }
.nav-wrap {
  width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}
.navbar-img {
  display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-toggle {
  /* display: none; */
  
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;

}
.navbar-toggle-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.close {
  display: none;
  width: 100%;
  float: left;
  text-align: right;
  color: #009c33 !important;
  cursor: default;
  font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.navbar-menu {
  
    flex-basis: 100%;
   flex-grow: 1;
    align-items: center;

}
.navbar-nav {
  display: flex;
    
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-margin
{
  margin-left: auto!important;
  padding-bottom: 1.5rem!important;
  padding-top: 1.5rem!important;
}
/* .navbar-item {
  margin-left: 1.5rem;
} */
.item-margin
{
  padding-left: 1.5rem!important;
  margin-left: 0!important;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  border-style: none;
}
a.navbar-link {
  font-size: 21px;
  color: #009c33;
  transition: text-shadow 0.3s;
}
a.navbar-link:hover {
  font-weight: bold;
  color: #009c33;
  text-shadow: 0 0 0.65px #009c33, 0 0 0.65px #009c33;
}
.navbar-link {
 
    display: block;
    padding: .5rem 1rem;
}
.navbar-nav .navbar-link {
  padding-right: 0;
  padding-left: 0;
}
section.sticky-section {
  height: 72px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #009c33;
  z-index: 1111111;
  display: flex;
  transform: translateY(100%);
  transition: transform 0.75s ease-in-out;
  align-items: center;
  justify-content: center;
}
section.sticky-section p {
  font-size: 21px;
  font-family: HDI-GerlingSans;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-right: 30px;
}
section.sticky-section .sticky-btn {
  border: solid 1.5px #ff9632;
  color: white;
  background-color: #ff9632;
  margin: 0px 12px 0px 0px;
  font-weight: bold;
  font-family: HDI-GerlingSans;
  width: 240px;
  padding: 7.5px 0 0 0;
  height: 48px;
  font-size: 19px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.sticky-btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.sticky-area {
  position: fixed !important;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 354px;
}

main {
  width: 100%;
  float: left;
  overflow-x: hidden;
}
.main-section {
  overflow-x: hidden;
}
/* .bg-img {
  position: absolute;
  width: 100%;
  top: 558px;
  left: 30px;
}
.bg-img img
{
  width: 100%;
  float: left;
  
} */
.content {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.content-first {
  /* width: 55%;
  position: absolute;
  top: 100px;
  z-index: 10; */
  padding-top: 80px;
}

.content-first-text {
  width: 100%;
}
.content-first-text h4 {
  margin: 14px 0 48px;
}
.content-first h1 {
  font-size: 50px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  text-transform: uppercase;
  font-family: HDI-GerlingSans;
  color: #009c33;
  max-width: 660px;
  width: 100%;
  line-height: 1.2;
}
.content-first h4 {
  font-size: 35px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  margin: 14px 0 48px;
  max-width: 444px;
  width: 100%;
  line-height: 1.2;
}
.flex-section {
  display: flex;
}
/* .content-first-data
{
  position: absolute;
  top: 290px;
  width: 55%;
  z-index: 10;
} */
.content-first-text ul {
  list-style-type: none;
  padding-left: 40px;
  padding-right: 10px;
  margin: 0;
}
.content-first-text ul li {
  font-size: 19px;
  font-stretch: condensed;
  font-style: normal;
  position: relative;
  padding-bottom: 20px;
  line-height: 1.5;
}
.content-first-text ul li:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -40px;
  background-image: url(../images/Checkmark_green.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 19.6px;
  top: 5px;
}
.text-bold {
  font-weight: bold;
  font-family: HDI-GerlingSans;
}
.content-first-image {
  width: 100%;
  position: relative;
  /* right: -20px;
  top: 100px; */
}
.content-first-image object {
  position: absolute;
  top: -185px;
  right: 32px;
  width: 100%;
  float: left;
}
.content-btn {
  margin-top: 14px;
  /* margin-top: 30px; */
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;

  font-size: 20px;
  font-weight: bold;
  font-family: HDI-GerlingSans;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.btn-second:hover {
  background: #ff9632;
  color: #fff;
  box-shadow: 2px 2px 5px #ff9632;
}
.btn-first:hover {
  background: #ef8a29;
}
.btn-first,
.btn-forth {
  background: #ff9632;
  box-shadow: 2px 2px 5px #ff9632;
  color: #fff;
  padding: 7.5px 60px 10px 15px;
  max-width: 280px;
  width: 264px;
  height: 48px;
}
.btn-forth {
  background: #009c33 !important;
  box-shadow: 2px 2px 5px #229c33 !important;
  color: #fff !important;
}
.btn-forth::after {
  background: #007d29 !important;
  color: #fff !important;
}
.btn-forth:hover:after {
  background: #005e1f !important;
}
.btn-first::after,
.btn-forth::after {
  position: absolute;
  background-color: #ff7200;
  color: #fff !important;
  right: 0;
  top: 0;
  font-size: 140%;
  width: 53px;
  height: 100%;
  padding: 5px;
  content: "";
  background-image: url(../images/Arrow_CTA.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.btn-first:hover:after {
  background-color: #eb6900;
}
.btn-forth:hover {
  background: #007d29 !important;
}
.btn-second {
  border: solid 1.5px #ff9632;
  color: #ff9632;
  width: 240px;
  padding: 8.5px 0 0 0;
  height: 48px;
  margin: 34px 0 33px 16px;
  font-size: 19px;
}
.btn-third {
  border: solid 1.5px #009c33;
  color: #009c33;
  width: 240px;
  padding: 7.5px 0 0 0;
  height: 48px;
  margin: 34px 0 33px 0;
  font-size: 19px;
}
.btn-third:hover {
  background: #009c33;
  color: #fff;
  box-shadow: 2px 2px 5px #229c33;
}
.content-second {
  /*max-width: 554px; */
  width: 100%;
  height: 231px;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #000000;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 60%;
  top: 670px;
  padding-top: 50px;
}
.content-second-wrap {
  max-width: 554px;
  margin: 0 auto;
  text-align: center;
}
.content-second p {
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #000000;
  padding-bottom: 12px;
  margin: 0;
}
.content-second h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  color: #009c33;
  text-transform: uppercase;
  font-family: HDI-GerlingSans;
  margin-bottom: 0px;
}
.content-second p.big-p {
  padding-bottom: 12px;
  font-size: 21px;
  line-height: 40px;
}

.no-display-big {
  display: none !important;
}
.features-content {
  width: 100%;
  display: flex;
  padding-top: 50px;
}

.features-content .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.features-content .feature img {
  width: 110px;
  height: 130px;
}

.features-content .feature h4 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.57;
  color: #009c33;
  font-family: HDI-GerlingSans;
  margin: 14px 0;
  text-align: center;
}
.features-content .feature p {
  font-size: 19px;
  line-height: 25px;
  text-align: center;
}
.content-third {
  width: 100%;
}
.content-third-data,
.content-fifth-data {
  float: left;
  padding-top: 0;
  position: absolute;
  top: 1270px;
  left: 200px;
  width: 418px !important;
  text-align: right;
}
.content-third-data h4,
.content-fifth-data h4 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.57;
  padding: 4px 0;
  color: #009c33;
  font-family: HDI-GerlingSans;
}
/* .content-third-data h4,.content-fifth-data h4
{
  font-size: 21px;
  font-weight: bold;
  line-height: 1.57;
  padding: 4px 0;
  color: #009c33;
  font-family: HDI-GerlingSans;
} */
.content-third-data p,
.content-fifth-data p,
.content-forth-data p {
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 6px;
}
/* .content-third-data p,.content-forth-data p,.content-fifth-data p
{
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  font-weight: normal;
} */
.content-third-data p.big-p,
.content-fifth-data p.big-p {
  padding-bottom: 24px;
}
.w-50 {
   width: 50% !important; 
}
.content-third-image {
  padding-top: 0;
  position: absolute;
  top: 1265px;
  padding-right: 0;
  width: 650px !important;
  right: 0;
}
.content-forth {
  width: 100%;
  padding-top: 160px;
}
.content-forth-image {
  padding-top: 0;
  position: absolute;
  top: 2065px;
  padding-right: 0;
  width: 650px !important;
  left: 85px;
}
/* .content-forth-image
{
  width: 500px;
} */
.content-forth-data {
  float: left;
  padding-top: 0;
  position: absolute;
  top: 1990px;
  right: 100px;
  width: 418px !important;
}
.content-forth p.big-p {
  padding-bottom: 18px;
}
.content-forth-data h4 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.57;
  padding-bottom: 8px;
  color: #009c33;
  font-family: HDI-GerlingSans;
}
.content-forth-data p {
  max-width: 437px;
  width: 100%;
  /* float: right;*/
}
.content-fifth {
  /* width: 100%; */
}
.content-fifth-data {
  top: 2500px;
  left: 120px;
  width: 454px;
  float: left;
  padding-top: 0;
  position: absolute;
  text-align: right;
}
.content-fifth-data h4 {
  /* margin-bottom: .5rem; */
}
.content-fifth-image {
  padding-top: 0;
  position: absolute;
  top: 1265px;
  padding-right: 0;
  width: 650px !important;
  right: 0;
}

.owl-theme.owl-them3 {
  position: absolute;
  top: 20%;
  width: 100%;
  z-index: 99999;
}
.online-nav button.owl-prev {
  position: absolute;
  left: 0px;
}
.online-nav button.owl-next {
  position: absolute;
  right: 0px;
}
.online-nav button {
  height: 40px;
  background: none !important;
  width: 40px;
  padding: 0;
  border: none;
  padding: 0 !important;
}
.online-nav .owl-prev i,
.online-nav .owl-next i {
  font-size: 2.5rem;
  color: #009c33;
}
.online-nav.owl-nav.disabled {
  margin-top: 0 !important;
}
.online-section-data .none-lg-1024 {
  position: relative;
}

.online-section {
  width: 100%;
  float: left;
  padding-bottom: 150px;
  padding-top: 35px;
}
.online-section-header {
  text-align: center;
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}
.online-section p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.9;
  color: #000000;
  font-family: HDI-GerlingSans-light;
  padding-bottom: 38px;
}
.online-section p.head {
  padding-bottom: 8px;
  line-height: 1.4;
}
.online-section h3,
.insurance-head h3 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #009c33;
  font-family: HDI-GerlingSans;
}
.show-data {
  display: block;
}
.wrapper {
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
}
.online-data {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}
.online-section-data ul {
  height: 100%;
}
.online-section-data ul li {
  list-style: none;
}
.online-image1 img {
  width: 70.1px;
  height: 101.8px;
}
.online-image2 img {
  width: 81.1px;
  height: 102px;
}
.online-image3 img {
  width: 106.4px;
  height: 81px;
}
.flex-item {
  align-items: center;
}
.flex-item-end {
  align-items: flex-end;
}
.justify-content {
  justify-content: center !important;
}
.online-section-data .number-data {
  padding: 0 5px 0 10px;
  font-size: 45px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.44;
  letter-spacing: normal;
  color: #ff9632;
}
.online-section-data .text-data {
  font-size: 19px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 23px;
  letter-spacing: normal;
  color: #009c33;
  font-family: HDI-GerlingSans;
  text-align: left;
}





.insurance-slider {
  width: 100%;
  float: left;
}
.main-data {
  position: relative;
}
.m-top
{
  margin-top: 82px;
}
.insurance-bg {
  background: #e6f5ec;
}
.insurance-section {
  width: 100%;
  float: left;
}
.p-tb-150 {
  padding: 150px 0;
}
.insurance-head {
  text-align: center;
  max-width: 580px;
  width: 100%;
  height: 77px;
  margin: 0 auto 60px;
}
.insurance-head p {
  font-family: HDI-GerlingSans-light;
  font-size: 20px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 1.9;
  color: #000000;
  margin-bottom: 1rem;
}
.insurance-head h3 {
  margin-bottom: 0.5rem;
}
.insurance-detail-wrapper {
  margin-top: 82px;
  float: left;
  width: 100%;
}
.insurence-detail-head {
  width: 100%;
  float: left;
  display: flex;
  margin-top: 50px;
}
.insurence-detail-data {
  max-width: 375px;
  float: left;
  width: 33.33%;
}
.margin-data {
  margin: 0 19px;
}
.margin-data1
{
  margin:0 10px;
}
.text-center {
  text-align: center;
}
.img-data {
  padding: 0;
  width: 100%;
  float: left;
  background: #fff;
  border-radius: 10px 10px 0px 0;
}
.cl-orange .img-data {
  border: 2px solid #ef8a29;
  border-bottom: 0;
}
.cl-green .img-data {
  border: 2px solid #009c33;
  border-bottom: 0;
}
.img-data img {
  margin-top: -50px;
  margin-bottom: -1px;
  width: 100%;
  height: auto;
}
.bg-white {
  background: #ffffff;
  border-radius: 0px 0 10px 10px;
}
.cl-orange .bg-white {
  border: 2px solid #ef8a29;
  border-top: 0;
}
.cl-orange h3.insurence-detail-heading {
  background: #ff9632;
  position: relative;
  z-index: 99999;
}
.cl-green .bg-white {
  border: 2px solid #009c33;
  border-top: 0;
}
.cl-green h3.insurence-detail-heading {
  background: #009c33;
  position: relative;
  z-index: 99999;
}
.heading-font {
  font-size: 23px;
  line-height: 1.16;
  letter-spacing: 0.95px;
  text-transform: uppercase;
}
.insurence-detail-heading {
  padding: 8px 0 5px 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  color: #ffffff;
}
.sub-font {
  font-size: 19px;
  letter-spacing: normal;
  line-height: 1.74;
  text-transform: capitalize;
}
.first-heading::before {
  content: "Unsere Produktlinien";
  position: absolute;
  text-transform: capitalize;
  top: 0;
  left: -107%;
  background-color: #b3e1c2;
  width: 101%;
  text-align: left;
  padding: 20px 0 19px 19px;
  z-index: 0;
  font-size: 22px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}
.insurence-detail-data h5 {
  font-size: 16px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #000000;
  margin-top: 46px;
}
.cl-green h5 span {
  color: #009c33 !important;
}
.insurence-detail-data h5 span {
  font-size: 45px;
  color: #ef8a29;
}

.insurence-detail-data h6 {
  font-size: 16px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
  margin: -5px 0 0 0;
  line-height: 1.2;
}
.insurence-detail-data .sm-center {
  height: 110px;
}
.btn-data-margin {
  margin: 34px 0 33px;
}
.insurence-detail-content {
  margin-top: 21px;
}
.insurence-detail-content ul {
  list-style-type: none;
  padding-left: 58px;
  height: 100%;
  padding-right: 20px;
}
.insurence-detail-content li {
  position: relative;
  font-size: 19px;
  padding-bottom: 26px;
  text-align: left;
  font-family: HDI-GerlingSans-light;
  line-height: 1.5;
}
.insurence-detail-content li:before {
  content: "";
  font-family: FontAwesome;
  display: inline-block;

  position: absolute;
  left: -40px;
  height: 30px;
  background-image: url(../images/Checkmark_orange.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
}
.cl-green .insurence-detail-content li:before {
  background-image: url(../images/Checkmark_green.svg);
}

/* traffic section */

.traffic-section {
  width: 100%;
  float: left;
  margin-top: 104px;
}
.traffic-title {
  border-bottom: 1.5px solid #000;
}
.traffic-section span {
  position: relative;
}
.traffic-section a {
  font-size: 22px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #009c33;
  font-family: HDI-GerlingSans;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.traffic-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.traffic-toggle:after {
  right: 10px;
  position: absolute;
  top: 75%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, 0px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 35px;
  border: 1px solid #229c33;
}
.traffic-toggle:after {
  content: "+";
  line-height: 0.9;
}
.traffic-toggle.active:after {
  content: "-";
  line-height: 0.7;
}
.insurance-bg .traffic-top {
  margin-top: 78px;
}

.traffic-main-heading {
  background: #b3e1c2;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 64px;
  width: 100%;
}
.traffic-sub-heading {
  background: #b3e1c2;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin: 58px 0 56px 0;
}
.traffic-head {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 64px;
  gap: 12px 24px;
  width: 100%;
}
.grid-content {
  background-color: #ffffff;
  display: grid;
  place-items: center;
}
.box {
  width: 100%;

  padding-left: 15px;
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.box1 {
  width: 100%;

  padding-left: 15px;
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-padding {
  padding: 0 5px;
}
.info-img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid green;
  padding: 0px 11px 0px;
  margin-right: 15px;
}
.info-content::before {
  content: "";
  height: 15px;
  width: 25px;
  background: white;
  position: absolute;
  bottom: 93%;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  z-index: 23;
  left: 17px;
  display: none;
}

.info-content:hover::before {
  display: block;
}
.info-content:hover::after {
  display: block;
}

.info-content::after {
  content: attr(data-text);
  position: absolute;
  left: 3px;
  border-radius: 7px;
  display: none;
  width: 90%;
  max-width: 400px;
  bottom: 110%;
  background: white;
  padding: 18px;
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  box-shadow: 2px 4px 15px 0 rgba(0, 156, 51, 0.35);
}

.optimal-section {
  width: 100%;
  float: left;
  padding-top:59px;
}
/* .optimal-section .p-top
{
  padding:59px 0 0 0;
} */
.optimal-head {
  
  height: 160px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.optimal-head .firs-heading {
  font-size: 17px;
  line-height: 1.47;
  margin-bottom: 1rem;
}
.optimal-head .second-heading {
  font-family: HDI-GerlingSans;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  color: #009c33;
  margin-bottom: 0.5rem;
}
/* .optimal-head .third-heading {
  line-height: 1.9;
}
.optimal-head .forth-heading {
  line-height: 1.35;
} */
.optimal-data {
  padding: 10px;
}
.optimal-section p {
  font-size: 19px;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.84;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.optimal-data ul {
  padding-left: 40px;
  padding-right: 10px;
  list-style: none;
}
.optimal-section .optimal-data ul li {
  font-size: 19px;
  line-height: 1.32;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0a0a0a;
  position: relative;
  padding-bottom: 24px;
}
.optimal-section .optimal-data ul li:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -40px;
  background-image: url(../images/Checkmark_green.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 19.6px;
  top: 5px;
}
.nav-controls {
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: space-between;
  padding: 40px 5px;
}
.question-controls,
.nav-controls,
.side-text-controls {
  width: 100%;
}
.question-controls .left,
.nav-controls .left,
.side-text-controls .left,
.side-text-controls .right,
.question-controls .right,
.nav-controls .right {
  font-size: 40px;
  color: #009c33;
}

.change-section {
  width: 100%;
  float: left;
}
.change-sec {
  width: 100%;
  float: left;
  position: relative;
  padding: 60px 0 0px;
}
.left-side {
  width: 100%;
  float: left;
}

.change-head .first-heading {
  font-size: 17px;
  line-height: 1.47;
  margin-bottom: 1rem;
}
.change-head .second-heading {
  font-family: HDI-GerlingSans;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
  color: #009c33;
  margin-bottom: 0.5rem;
}
.change-head .third-heading {
  line-height: 1.9;
}
.details {
  max-width: 436px;
  max-height: 147px;
  width: 100%;
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #000000;
  margin: 40px 0 10px 0;
  float: left;
}
.change-img {
  margin-top: 20px;
  width: 100%;
  float: left;
}
.change-img img {
  width: 122px;
  height: 88px;
}
.change-img ul {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
}
.change-img ul li {
  float: left;
  list-style: none;
}
.side-text-controls {
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  z-index: 100;
  height: 0;
}
.right-side {
  width: 100%;
  padding: 59px 0 0 0;
  position: relative;
}
.right-side-noslider {
  display: none;
}
.right-side-slider {
  display: block;
}
.right-side #side-carousel ul {
  width: 70%;
  min-width: 250px;
  margin: 0 auto;
}
.right-side ul {
  list-style-type: none;
  padding-right: 10px;
  padding-left: 40px;
  margin: 0;
}
.right-side ul li {
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  position: relative;
  padding-bottom: 42px;
}
.right-side ul li:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -40px;
  background-image: url(../images/Checkmark_green.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 19.6px;
  top: 5px;
}
.change-section-img {
  width: 180vw;
  margin-left: -40vw;
}
.change-section-img img {
  width: 100%;
  /* margin-top: -150px; */
  margin-bottom: -10px;
}

.question-slider {
  /* display: flex; */
  width: 100%;
  align-items: stretch;
  padding: 15px 0;
}
#question-container {
  margin-top: 24px;
  margin-bottom: 106px;
  position: relative;
}
p.slider-head {
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: HDI-GerlingSans;
  font-size: 21px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #009c33;
}
.question-slider .question {
  background-color: white;
  padding: 34px 24px 8px;
  border-radius: 5px;
  box-shadow: 2px 4px 11px 0 rgb(0 156 51 / 25%);
  margin: 15px;
  flex: 0.5;
  align-self: stretch;
  height: 315px;
  width: auto;
}
.question ul {
  list-style-type: none;
  padding-right: 10px;
  padding-left: 40px;
}
.question ul li {
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #0a0a0a;
  position: relative;
  padding-bottom: 24px;
}
.question ul li:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -40px;
  background-image: url(../images/Checkmark_green.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 19.6px;
  top: 5px;
}
.question-arrow {
  position: absolute;
  top: 410px;

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc(100% + 30px);
  transform: translateX(-30px);
  z-index: 100;
  font-size: 40px;
  color: #009c33;
}
.question-arrow i {
  cursor: pointer;
}
#que1,
#que3 {
  margin-right: auto;
}
#que2,
#que4 {
  margin-left: auto;
}
.tips-lg {
  display: none !important;
}
.tips-sm {
  display: block !important;
}
.tips-nav-lg {
  display: none;
  z-index: 100;
}
.tips-nav-sm {
  display: flex;
}
.question-arrow .left,
.nav-controls .left,
.side-text-controls .left,
.side-text-controls .right,
.question-arrow .right,
.nav-controls .right {
  font-size: 40px;
  color: #009c33;
}
.question-slider .owl-stage-outer {
  padding: 15px 0;
}

.faq-section {
  background: #e6f5eb;
  width: 100%;
  float: left;
  position: relative;
  padding: 92px 0 119px;
}
.faq-head h3 {
  text-align: center;
  padding-bottom: 45px;
  margin: 0;
  color: #009c33;
  font-size: 30px;
  font-weight: bold;
  font-family: HDI-GerlingSans;
}
.que-ans {
  border-bottom: 2px solid #009c33;
  width: 100%;
  float: left;
}
.faq-que {
  width: 100%;
  float: left;
  padding: 18px 0;
  cursor: pointer;
}
.faq-que p {
  font-weight: bold;
  font-size: 24px;
  color: #0a0a0a;
}
.faq-toggle:after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow_down_green.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 30px;
  top: 30%;
  right: 10px;
  position: absolute;
  width: 15px;
  height: 9px;
}
.faq-que.active .faq-toggle:after {
  background-image: url(../images/arrow_up_green.svg);
}
.swidth {
  width: 70%;
  float: left;
}
.active + div {
  padding-bottom: 40px;
}
.faq-toggle {
  position: relative;
  width: 100%;
  float: left;
}
.faq-ans-content {
  padding: 0 1px;
  max-height: 0;
  overflow: hidden;
  line-height: 1.5;
  width: 70%;
  transition: max-height 0.2s ease-out;
}
.faq-ans-content p {
  margin-bottom: 1rem;
}

footer {
  background: #009c32;
  width: 100%;
  float: left;
}
.footer-section {
  width: 100%;
  display: flex;
  float: right;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: flex-end;
  position: relative;
  vertical-align: middle;
  align-content: center;
  color: #fff;
  font-size: 19px;
  font-weight: normal;
}
.footer-img {
  position: absolute;
  top: 0;
  left: 60px;
  padding-top: 60px;
}
.footer-img img {
  width: 100px;
  height: 100px;
}
.footer-section ul {
  list-style-type: none;
  text-align: left;
}
.footer-data {
  padding: 82px 82px 63px 0;
}
.footer-data li {
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
}
.footer-social {
  padding: 82px 82px 63px 0 !important;
}
.footer-social img {
  margin-top: 10px;
  height: 32px;
  width: 32px;
}
.footer-social img {
  margin-right: 20px;
}
.footer-list {
  padding: 82px 50px 63px 0 !important;
  width: 155px;
  display: flex;
  flex-direction: column;
  float: left;
}
.footer-list li {
  padding-bottom: 10px;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.84;
  letter-spacing: normal;
  color: #ffffff;
}
.footer-list a {
  color: #fff;
  transition: all 1s ease-in-out;
  transition-duration: 2s;
}
.footer-list a:hover {
  font-weight: bold;
  font-family: HDI-GerlingSans;
  transition: all 1s ease-in-out;
  transition-duration: 2s;
}

.plan-section {
  text-align: center;
  max-width: 564px;
  width: 100%;
  max-height: 152px;
  margin: 0 auto;
  text-align: center;
}
.plan-section p {
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  width: 100%;
  letter-spacing: normal;
  color: #000000;
  float: left;
  font-family: HDI-GerlingSans-light;
  font-size: 19px;
}
.first-p {
  font-size: 17px;
  margin-top: 110px;
  margin-bottom: 10px;
}
.second-p {
  margin-bottom: 63px;
}
/* .content-second-wrap{
  margin-bottom: 63px;
} */
.plan-section h3 {
  width: 100%;
  float: left;
  font-size: 33px;
  font-weight: bold;
  line-height: 1.1;
  color: #009c33;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: HDI-GerlingSans;
}

.plan-arrow {
  position: relative;
}
.plan-arrow button.owl-prev {
  position: absolute;
  left: -45px;
  top: 40%;
  height: 40px !important;
  width: 40px !important;
  display: flex !important;
  justify-content: center;
}
button:focus {
  outline: none;
}
.plan-arrow button.owl-next {
  position: absolute;
  right: -45px;
  top: 40%;
  height: 40px !important;
  width: 40px !important;
  display: flex !important;
  justify-content: center;
}
.main-data .owl-theme .custom-nav {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
}
.main-data .owl-theme .custom-nav .owl-prev,
.main-data .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.main-data .owl-theme .custom-nav .owl-prev {
  left: -20px;
  height: 40px;
  background: rgba(0, 156, 51, 0.45);
  width: 40px;
  padding: 0;
}

.main-data .owl-theme .custom-nav .owl-next {
  right: -20px;
  height: 40px;
  background: rgba(0, 156, 51, 0.45);
  width: 40px;
  padding: 0;
}
.main-data .owl-theme .custom-nav .owl-prev i,
 .main-data .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #fff;
}

.plan-arrow button.owl-next:hover,
.plan-arrow button.owl-prev:hover {
  height: 40px !important;
  width: 40px !important;
  background: rgba(0, 156, 51, 0.45) !important;
}
.color-green {
  color: #009c33 !important;
}
.arrow-position-left {
  position: relative;
  left: -3px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #009c33;
}
.plan-slider .owl-dots {
  margin: 43px 0 26px 0;
}
.owl-theme .owl-dots .owl-dot span {
  background: #99d7ad;
}
.plan-slider {
  width: 100%;
  float: left;
}
.plan-card {
  background: #fff;
  text-align: center;
  padding: 32px 32px 10px;

  padding-top: 16px;
  height: 363px;
}
.plan-data {
  position: relative;
  height: 235px;
  z-index: 1;
}
.plan-detail {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 1s linear;
}
.plan-card:hover .plan-detail {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.plan-card h4 {
  font-size: 22px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  margin: 0;
  font-family: HDI-GerlingSans;
}
.plan-card .front {
  display: flex;
  align-items: center;
}
.part {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.part.back {
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: normal;
}

.back.part.center {
  display: flex;
  align-items: center;
  padding: 0 0 10px 0;
}

.back.part p {
  text-align: left;
  font-size: 19px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #000000;
}
.plan-card img {
  height: 141px;
}

.no-display-big {
  display: none;
}
